/**
 * Theme Name:  test_bitrix
 * Template:    test bitrix
 * Description: bitrix
 *
 * Theme URI:   URL темы. Пр: http://wordpress.org/themes/twenty
 * Author:      b
 * Author URI: b
 *
 * Tags:        black, brown, orange
 * Text Domain: Домен перевода темы. Пр: twentythirteen
 *
 * License:     Лицензия. Пр: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Version:     1.0
 */